<h1 id="non-printable"
  style="text-align: center;margin-top: 3%;margin-bottom: 6%; text-shadow: 2px 4px 3px rgba(0,0,0,0.3); font-size: 600%;">
  Configuration </h1>

<div class="row col-md-12">



  <div class="col-md-3  main-card mb-2 card " style="margin-left: 2%; margin-top: 1%;  height: 600px;   ">
     <input type="file" (change)="readof($event )">

    <div width="100%" style="text-align: center; margin-top: 6%;  ">
      <img src="./../../assets/images/ordre.jpg" width="200px" height="150px" />
      <table class="table table-striped ">
        <thead>
          <tr>
            <th>N° Ordre</th>
            <th>Code Ordre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of liste_of;let index = index;">
            <td>
              {{index}}
            </td>
            <td>
              {{obj.code}}
            </td>

          </tr>
        </tbody>


      </table>
    </div>
  </div>
  <div class="col-md-4  main-card mb-2 card " style="margin-left: 2%; margin-top: 1%;     ">
    <input type="file" (change)="readproduit($event )"> 
    <div width="100%" style="text-align: center; margin-top: 6%;  ">
      <img src="./../../assets/images/images.png" width="200px" height="150px" />
    </div>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>N°</th>
          <th>Code Article</th>
          <th>Désignation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of liste_produit;let index = index;">
          <td>
            {{index}}
          </td>
          <td>
            {{obj.code}}
          </td>
          <td>
            {{obj.des}}
          </td>

        </tr>
      </tbody>


    </table>
  </div>
  <div class="col-md-4 main-card mb-2 card " style="margin-left: 2%;  margin-top: 1%;     ">
    <input type="file" (change)="readagent($event )">

    <div width="100%" style="text-align: center; margin-top: 6%;  ">
      <img src="./../../assets/images/users.png" width="200px" height="150px" />

    </div>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>Nom & Prenom</th>
          <th>code</th>
          <th>mot de passe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of liste_agent;let index = index;">
          <td>
            {{obj.code}}
          </td>
          <td>
            {{obj.mot_de_passe}}
          </td>
          <td>
            {{obj.nom}}
          </td>

        </tr>
      </tbody>


    </table>
  </div>


</div>