<h1 id="non-printable"
  style="text-align: center;margin-top: 3%;margin-bottom: 6%; text-shadow: 2px 4px 3px rgba(0,0,0,0.3); font-size: 600%;">
  Configuration </h1>

<div class="row col-md-12">



  <div class="col-md-3  main-card mb-2 card " style="margin-left: 2%; margin-top: 1%;  height: 600px;   ">
     <input type="file" (change)="readof($event )">

    <div width="100%" style="text-align: center; margin-top: 6%;  ">
      <img src="./../../assets/images/ordre.jpg" width="200px" height="150px" />
      </div>
      <button type="button" class="btn btn-success" (click) ="ajouter()">Ajouter</button>

      <table class="table table-striped ">
        <thead>
          <tr>
            <th>Code emballage</th>
            <th>Code Article OF</th>
            <th>E/100</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of liste_of ">
            <td>
              {{obj.code_produit}}
            </td>
            <td>
              {{obj.code_of}}
            </td>
            <td>
              {{obj.e100}}
            </td>
          </tr>
        </tbody>


      </table>
     
  </div>
  <div class="col-md-5  main-card mb-2 card " style="margin-left: 2%; margin-top: 1%;     ">
    <input type="file" (change)="readproduit($event )"> 
    <div width="100%" style="text-align: center; margin-top: 6%;  ">
      <img src="./../../assets/images/images.png" width="200px" height="150px" />
    </div>
    <table class="table table-striped ">
      <thead>
        <tr> 
          <th>Code article OF</th>
          <th>Gamme</th>
          <th>Culot</th>
          <th>Puissance</th>
          <th>couleur</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of liste_produit">
          <td>
            {{obj.code}}
          </td>
          <td>
            {{obj.gamme}}
          </td>
          <td>
            {{obj.culot}}
          </td>
          <td>
            {{obj.puissance}}
          </td>
          <td>
            {{obj.couleur}}
          </td>

        </tr>
      </tbody>


    </table>
  </div>
  <div class="col-md-3 main-card mb-2 card " style="margin-left: 2%;  margin-top: 1%;     ">
    <input type="file" (change)="readagent($event )">

    <div width="100%" style="text-align: center; margin-top: 6%;  ">
      <img src="./../../assets/images/users.png" width="200px" height="150px" />

    </div>
    <table class="table table-striped ">
      <thead>
        <tr> 
          <th>Matricule agent</th> 
          <th>Nom & Prenom</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of liste_agent;let index = index;">
          <td>
            {{obj.matricule}}
          </td> 
          <td>
            {{obj.nom}}
          </td>

        </tr>
      </tbody>


    </table>
  </div>


</div>