<h1 id="non-printable"
  style="text-align: center;margin-top: 3%;margin-bottom: 6%; text-shadow: 2px 4px 3px rgba(0,0,0,0.3); font-size: 600%;">
  Configuration </h1>

<div class="row">
 
    
      <div   class="col-md-12" fxFill fxLayout="column" fxLayoutAlign="space-between"
        fxLayout="row wrap">
        <div class="row">
            <div class="col-md-3  main-card mb-2 card " style="margin-left: 2%; margin-top: 1%;     ">
                <div width="100%" style="text-align: center; margin-top: 6%;  ">
                   <img src="./../../assets/images/ordre.jpg" width="200px" height="150px" />
                   <table class="table table-striped ">
                    <thead>
                      <tr>
                        <th>N° Ordre</th> 
                        <th>Code Ordre</th> 
                      </tr>
                    </thead>
                    <tbody>
                      <tr  >
                        <td >
                            1
                         </td>
                        <td >
                            544
                         </td>
                        
                      </tr>               
                    </tbody>
                   
                    
                  </table>
                </div>
              </div>
              <div class="col-md-4  main-card mb-2 card " style="margin-left: 2%; margin-top: 1%;     ">
                <div width="100%" style="text-align: center; margin-top: 6%;  ">
                   <img src="./../../assets/images/images.png" width="200px" height="150px" />
                 </div>
                 <table class="table table-striped ">
                    <thead>
                      <tr>
                        <th>N°</th> 
                        <th>Code Article</th> 
                        <th>Désignation</th> 
                      </tr>
                    </thead>
                    <tbody>
                      <tr  >
                        <td >
                            1
                         </td>
                        <td >
                            FL270A700002
                         </td>
                         <td >
                            Lampe LED E27 A70-9 15W 240V 6500
                         </td>
                        
                      </tr>               
                    </tbody>
                   
                    
                  </table>
              </div>
          <div class="col-md-4 main-card mb-2 card " style="margin-left: 2%;  margin-top: 1%;     ">
          
            <div width="100%" style="text-align: center; margin-top: 6%;  ">
              <img src="./../../assets/images/users.png" width="200px" height="150px" />
              
            </div>
            <table class="table table-striped ">
            <thead>
                <tr>                  
                  <th>Nom & Prenom</th> 
                  <th>code</th> 
                  <th>mot de passe</th> 
                </tr>
              </thead>
              <tbody>
                <tr  >
                  <td >
                      ali med 
                   </td>
                  <td >
                      145
                   </td>
                   <td >
                      c145
                   </td>
                  
                </tr>               
              </tbody>
             
              
            </table>
          </div>
        </div>

      </div>
     
    

 













</div>