 
    <img src="./../../assets/images/logout.png"   [routerLink]="['/']" width="50px" height="50px" style=" position:absolute;  margin-left: 94% ; margin-top: 2%;">

  
  <img src="./../../assets/images/SIAME.jpg" width="80%" height="50%" style="margin-left: 10%">


<div>
    <div class="menu" style="margin-top: 8%;">
        <div class="inline">
            <a routerLink="/config"><img src="../../assets/images/lamp.png"  style="margin-left: -90%;"/> 
            </a>
        </div>
        <div class="inline">
            <a routerLink="/config2"><img src="../../assets/images/breaker.png" style="margin-left: 0%;"/> 
            </a>
        </div>   
    </div> 
</div>

  

   
 
 