a {
    border: none;
    padding: 0;
    text-decoration: none;
    border-radius: 10%;
}
.image {
    width: 25vw;
    padding-top: -10%;
    border-radius: 10%;
    box-shadow: 11px 11px 11px grey;
}
.menu {
    position: relative;
    text-align: center;
    width: 100%;
    top: -20%;
    left: 50%;
    transform: translate(-50% );
}
.inline {
    display: inline-flex;
    align-items: center;
    padding: 0% 2vw;
}
a,
a:hover {
    text-decoration: none;
    color: #52595d;
}
 
a{
    transition: transform 250ms;
}
 
.rotate90 {
    -webkit-transform: rotate(45);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
