<h1 id="non-printable"
  style="text-align: center;margin-top: 3%;margin-bottom: 3%; text-shadow: 2px 4px 3px rgba(0,0,0,0.3); font-size: 600%;">
  Etiquetage des produits </h1>
<div class="row">

  <div class="col-md-12">
    <div id="non-printable" class=" col-md-12 main-card mb-3 card" style="margin-top:  0%;">
      <div class="card-body">
        <section [formGroup]="form">

          <mat-form-field class="custom-width" style="width: 25%;">
            <mat-label>N° d'ordre de Fabrication</mat-label>
            <input matInput placeholder="ordre de Fabrication" [(ngModel)]="form.of" formControlName="of"
              [matKeyboard]="'de-CH'" (keypress)="set_of($event)">
          </mat-form-field>

          <mat-form-field class="custom-width" style="margin-left: 5%; width: 25%;">
            <mat-label>Matricule Agent</mat-label>
            <input matInput placeholder="Agent" [(ngModel)]="form.agent" formControlName="agent" [matKeyboard]="'de-CH'"
              (keypress)="set_agent($event)">
          </mat-form-field>

          <img *ngIf="btnlock" style="margin-left: 3%;" src="./../../assets/images/lock.png" width="50px" height="50px"
            (click)="lock()">
          <img *ngIf="btnlock==false" style="margin-left: 3%;" src="./../../assets/images/unlock.png" width="50px"
            height="50px" (click)="lock()">

          <mat-form-field class="custom-width" style="margin-left: 5%; width: 25%;">
            <mat-label>Code à barres Produit</mat-label>
            <input matInput placeholder="code" [(ngModel)]="form.code" formControlName="code"  
              (keypress)="g_code($event)">
          </mat-form-field>

        </section>
      </div>
    </div>
    <div class="row">
      <div id="non-printable" class="col-md-8" fxLayout="row wrap">
        <div class="row col-md-12" id="non-printable">

          <div class="col-md-5  main-card mb-2 card " style="margin-left: 5%; margin-top: 0%;     ">
            <div width="100%" style="text-align: center; margin-top: 6%;  ">
              <img src="./../../assets/images/carton.png" width="200px" height="150px" />
              <h2>N° des Emballages 100 : {{nb_carton_100}}</h2>
            </div>
            <div width="100%" style="text-align: center; margin-top: 6%;  ">
              <img src="./../../assets/images/prdoduit.png" width="200px" height="150px" />
              <h2>N° des Emballages 10 : {{nb_carton_10}}</h2>
            </div>
          </div>
          <div class="col-md-5  main-card mb-2 card " style="margin-left: 5%;  margin-top: 1%;     ">

            <div width="100%" style="text-align: center; margin-top: 6%; margin-bottom: 30%; ">
               
              <img  src='{{ "./../../assets/images/" + val_led + ".png" }}'   width="100px" height="100px" />
              <h1>{{nb}}</h1>
            </div>
            <h2> Gamme : {{val_led }} </h2>
            <h2> Culot : {{val_w}} </h2>
            <h2> Puissance : {{ val_e}} </h2>
            <h2> couleur : {{val_k}} </h2> 
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="row">
          <div id="non-printable" class="col-md-12" style="margin-top: -5%;margin-bottom: 5%;">
            <div width="100%" style="text-align: center; margin-top: 6%;  ">
              <img src="./../../assets/images/sess-save.png" width="80px" height="80px" />
              <h2>ali med </h2>
            </div>
          </div>

          <div id="printable" class="bc_image col-md-12" style=" width: 378px; height: 180px;   ">

            <div
              style="display: inline ; position: fixed;  margin-left: 45%; margin-top: 15px; font-weight: bold; font-size: 18px;">
              Lampe LED : {{val_led}}</div>
            <br>
            <br><br>
            <div
              style="display: inline ; position: fixed;  margin-left: 35%; margin-top: 24px; font-size: 32px; font-weight: bold;">
              {{val_w}}</div>
            <div style="display: inline ; position: fixed;  margin-left: 70%; margin-top: 20px;  font-size: 22px;">
              {{val_k}}</div>
            <br><br><br><br><br><br>

            <div style="display: inline ; position: fixed;  margin-left: 7%; margin-top: -10px; font-weight: bold;">
              {{val_e}}</div>
            <ngx-barcode [bc-value]="value_code" [bc-display-value]="true" [bc-width]="width" [bc-height]="height"
              style="display: inline ; position: fixed;  margin-left: 30%; margin-top: -30px;"></ngx-barcode>
            <div style="display: inline ; position: fixed;  margin-left: 70%; margin-top: -50px; font-weight: bold;">
              Qte : {{nb+1}}</div>

          </div>
          <div id="non-printable" class="col-md-12" style="margin-top: 5%;">
            <div class="row col-md-12">
              <div class=" col-md-1"></div>

              <div class="font-icon-wrapper col-md-4" (click)="imprimer()"><i class="pe-7s-print"> </i>
                <p>Imprimer</p>
              </div>

              <div class=" col-md-1"></div>
              <div class="font-icon-wrapper col-md-4" (click)="reset()"><i class="pe-7s-refresh-2"> </i>
                <p>Reset</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>